@using RePlays.Utils
@using static RePlays.Utils.Functions;

@code {
	[Parameter]
	public string game { get; set; }
	[Parameter]
	public string sortBy { get; set; }
	[Parameter]
	public bool isRePlaysWebView { get; set; }
}

@{
	VideoList videoList = GetAllVideos(game, sortBy, true, isRePlaysWebView);
}

<div id="sessions-page" hx-swap-oob="#sessions-page" role="tabpanel" class="tab-content p-10">
	@foreach (var session in videoList.sessions) {
		<a href="#">
			@session.fileName
		</a>
		<br/>
	}
</div>

<div id="clips-page" hx-swap-oob="#clips-page" role="tabpanel" class="tab-content p-10">
	@foreach (var session in videoList.clips) {
		<a href="#">
			@session.fileName
		</a>
		<br/>
	}
</div>