@code {
	[Parameter]
	public string id { get; set; }
	[Parameter]
	public string name { get; set; }
	[Parameter]
	public string hx_get { get; set; }
	[Parameter]
	public string hx_vals { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}

<div class="dropdown">
	<div class="btn px-0 overflow-hidden">
		<img src="#" class="absolute invisible" onerror="this.nextElementSibling.dispatchEvent(new Event('input'));">
		<select id="@id" name="@name" hx-get="@hx_get" hx-vals="@hx_vals" class="!absolute left-0 right-0 opacity-0 focusable appearance-none bg-inherit h-full px-4" oninput="
			const dummyEl = this.nextElementSibling;
			dummyEl.innerText = this.options[this.selectedIndex].innerText;
		">
			@ChildContent
		</select>
		<span class="px-4" aria-hidden="true"></span>
	</div>
</div>