@code {
    public Guid id = Guid.NewGuid();
    [Parameter]
    public string context { get; set; }
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public string icon { get; set; }
}

<div hx-swap-oob="beforeend:#modal-container">
    <dialog id="modal-@id" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">@title</h3>
            <p class="py-4">@context</p>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
    <script>
        document.querySelector("#modal-@id").showModal()
    </script>
</div>