name: Publish wiki
on:
  push:
    branches: [main]
    paths:
      - .github/wiki/**
      - .github/workflows/wiki.yml

concurrency:
  group: publish-wiki
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Andrew-Chen-Wang/github-wiki-action@actually-working-preprocess
        with:
          path: .github/wiki/
