@using RePlays.Services;
@using System.Text.Json;
@using RePlays.Classes.RazorTemplates.Components;

@{
	var settings = SettingsService.Settings.captureSettings;
}

<div class="flex flex-col h-full">
	capture
</div>